.container {
  position: relative;
}

.resultsContainer {
  width: 100%;
  max-height: calc(100vh - 196px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
  background-color: #010b13;
  border: 1px solid #669aff;
  border-radius: 8px;
  box-shadow: 0px 0px 12px 2px #010b13;
  position: absolute;
  top: 58px;
  overflow-y: auto;

  @media (max-width: 768px) {
    max-height: 220px;
    gap: 12px;
    padding: 12px;
    top: 52px;
  }
}
