.container {
  width: 100%;
  max-width: 1232px;
  margin: 36px auto 0;
  padding: 0 16px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 1;

  @media (max-width: 768px) {
    margin-top: 16px;
    padding-bottom: 32px;
  }
}

.containerListNames {
  padding: 16px;
  flex-direction: row;
  gap: 64px;
  position: sticky;
  top: 94px;
  background-color: #010b13;
  box-shadow: 0px 0px 12px 0px #010b13;
  z-index: 2;

  @media (max-width: 768px) {
    justify-content: space-between;
    gap: 0;
  }
}

.containerLists {
  gap: 40px;
}

.listNameTab {
  padding: 8px 0;
  transition-duration: 350ms;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;

  &:hover,
  &:hover span,
  &.active,
  &.active span {
    color: #cd244a;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }

  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
  }
}

.listQuant {
  color: #b9bbbd;
  margin-left: 4px;
  transition-duration: 350ms;

  @media (max-width: 768px) {
    font-size: 14px;
  }

  @media (max-width: 480px) {
    margin-left: 0;
    margin-top: 4px;
  }
}

.listContent {
  display: flex;
  flex-direction: column;
}

.listName {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;

  @media (max-width: 768px) {
    font-size: 16px;
    margin-bottom: 12px;
  }
}

.departName {
  font-weight: 700;
  margin-bottom: 16px;

  @media (max-width: 768px) {
    margin-bottom: 12px;
  }
}

.listDepartQuant {
  font-size: 14px;
  margin-left: 8px;
  color: #b9bbbd;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.listDepart {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 768px) {
    margin-bottom: 24px;
  }
}

.listWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @media (max-width: 1024px) and (min-width: 769px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.division {
  height: 1px;
  width: 100%;
  max-width: 1232px;
  padding: 0 16px;
  box-sizing: border-box;
  background-color: #b9bbbd40;
  border: none;
  margin: 0 auto;
}
