.content {
  margin-top: 48px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (max-width: 768px) {
    margin-top: 40px;
  }
}

.filterContainer {
  display: flex;
  align-items: center;
  gap: 32px;
  position: absolute;
  right: 0;

  @media (max-width: 768px) {
    gap: 20px;
  }

  @media (max-width: 580px) {
    position: unset;
    margin-bottom: 12px;
  }

  @media (max-width: 380px) {
    gap: 18px;
  }
}

.filterContent {
  position: relative;

  &:hover {
    .filterTitle {
      color: #669aff;
    }

    .filterWrapper {
      opacity: 1;
      z-index: 1;
    }

    .filterArrow {
      transform: rotate(180deg);
    }
  }
}

.filterTitle {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 0;
  font-size: 14px;
  transition-duration: 350ms;

  span {
    font-size: 14px;
  }

  @media (min-width: 769px) {
    &:hover {
      color: #669aff;
      cursor: pointer;
    }
  }
}

.clearButton {
  @media (max-width: 580px) {
    order: 1;
  }
}

.filterArrow {
  transition-duration: 350ms;
}

.filterWrapper {
  margin-top: 2px;
  min-width: max-content;
  position: absolute;
  top: 25px;
  right: 0;
  opacity: 0;
  z-index: -1;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #010b13;
  box-shadow: 0px 0px 12px 2px #010b13;
  border: 1px solid #b9bbbd40;
  cursor: pointer;
  transition-duration: 350ms;

  @media (max-width: 580px) {
    right: unset;
    left: 0;
  }
}

.filterItem {
  min-width: max-content;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  padding: 4px;
  user-select: none;
  transition-duration: 350ms;

  &.active {
    color: #669aff;
  }

  @media (min-width: 769px) {
    &:hover {
      color: #669aff;
    }
  }
}
