.cardWrapper {
  display: flex;
  border-radius: 4px;
  border: 1px solid #b9bbbd40;

  @media (max-width: 480px) {
    border: none;
  }
}

.cardLink {
  display: flex;
  width: 100%;

  &:hover {
    .image,
    .imagePerson {
      transform: scale(1.075);
    }
  }
}

.ImageWrapper {
  width: 100px;
  min-width: 100px;
  height: 100px;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @media (max-width: 768px) and (min-width: 481px) {
    width: 88px;
    min-width: 88px;
    height: 88px;
  }

  @media (max-width: 480px) {
    width: 66px;
    min-width: 66px;
    height: 66px;
    border: 1px solid #b9bbbd40;
    border-radius: 4px;
  }
}

.image {
  margin-top: 12px;
  width: 100% !important;
  height: auto !important;
  position: unset !important;
  transition-duration: 350ms;
}

.imagePerson {
  color: #b9bbbd40;
  transition-duration: 350ms;
}

.infosWrapper {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  justify-content: center;

  @media (max-width: 768px) {
    padding: 6px 12px;
  }
}

.name,
.subName {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.name {
  font-weight: 700;
}

.subName {
  margin-top: 8px;
}
