.main {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #010b13;
}

.imageWrapper {
  min-width: 100%;
  max-height: 700px;
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 96px;
  left: 0;
}

.gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #010b1333, #010b13), linear-gradient(to bottom, #010b1333, #010b13);
}

.image {
  position: unset !important;
  height: auto !important;
}

.withoutImage {
  width: 100%;
  height: 100%;
  background-color: #669aff;
}

.container {
  width: 100%;
  max-width: 1232px;
  margin: 60px auto 0;
  padding: 0 16px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 1;

  @media (max-width: 768px) {
    margin-top: 40px;
    padding-bottom: 32px;
  }
}

.containerAbout {
  flex-direction: row;
  gap: 32px;
  margin-top: 300px;
  padding: 0 16px;
  position: relative;
  z-index: 2;

  @media (max-width: 1024px) and (min-width: 769px) {
    margin-top: 250px;
  }

  @media (max-width: 768px) {
    gap: 16px;
    margin-top: 128px;
  }
}

.imagePoster {
  position: unset !important;
  width: 320px !important;
  height: auto !important;
  border-radius: 4px;
  aspect-ratio: 2/3;
  margin-bottom: auto;

  @media (max-width: 768px) {
    width: 144px !important;
  }
}

.withoutImagePoster {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b9bbbd40;

  svg {
    color: #b9bbbd40;
  }
}

.contentAbout {
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    max-width: calc(100% - 144px - 16px);
  }
}

.grade {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;

  @media (max-width: 768px) {
    margin-bottom: 16px;
  }

  & > svg {
    fill: #f4b41e;
  }
}

.title {
  font-size: 28px;
  font-weight: 700;

  @media (max-width: 1024px) and (min-width: 769px) {
    font-size: 22px;
  }

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.subTitle {
  font-size: 20px;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.subTitle2 {
  margin-top: 24px;
  font-weight: 700;

  @media (max-width: 768px) {
    margin-top: 16px;
  }
}

.originalTitle {
  margin-top: 0;
}

.content {
  width: fit-content;
  display: flex;
  margin-top: 4px;
}

.infos {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.contentDuration {
  margin-top: 0;
  margin-right: 12px;

  @media (max-width: 768px) {
    margin-right: 10px;
  }

  & ~ span {
    margin-left: 12px;
    position: relative;

    &::before {
      content: '';
      width: 1px;
      height: calc(100% - 4px);
      position: absolute;
      top: 2px;
      left: -12px;
      background-color: #b9bbbd40;
    }

    @media (max-width: 768px) {
      margin-left: 10px;

      &::before {
        left: -10px;
      }
    }
  }
}

.contentCert {
  margin-top: 0;
  min-width: 25px;
  padding: 4px;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  font-weight: 700;

  @media (max-width: 768px) {
    min-width: 22px;
    font-size: 12px;
  }
}

.listGenres {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  gap: 12px;

  @media (max-width: 768px) {
    margin-top: 16px;
    gap: 10px;
  }

  p {
    font-size: 14px;
    font-weight: 700;
    color: #669aff;
    border: 1px solid #669aff;
    border-radius: 4px;
    padding: 4px 12px;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 12px;
      padding: 4px 8px;
    }
  }
}

.watchWrapper {
  margin-top: 24px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 12px;

  @media (max-width: 768px) {
    display: none;
  }
}

.watchImage {
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

.contentTagline {
  margin-bottom: 24px;
  font-style: italic;
  opacity: 0.7;
}

.actorsList {
  display: flex;
  margin-top: 4px;
}

.contentLink:hover {
  color: #b9bbbd;
}

.comma {
  margin-right: 5px;
}

.division {
  height: 1px;
  width: calc(100% - 32px);
  max-width: 1232px;
  padding: 0 16px;
  box-sizing: border-box;
  background-color: #b9bbbd40;
  border: none;
  margin: 0 auto;
}

.contentVideos {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  @media (max-width: 768px) {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.castWrapper {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
  gap: 15px;
  padding: 16px 2px;
  padding-bottom: 8px;

  @media (max-width: 1228px) {
    padding-bottom: 16px;
  }

  @media (max-width: 768px) {
    padding: 12px 2px;
    padding-bottom: 4px;
  }
}

.actorWrapper {
  width: 134px;
  min-width: 134px;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #b9bbbd40;
  transition-duration: 350ms;

  &:hover {
    cursor: pointer;
    transform: scale(1.025);
  }
}

.actorLink {
  display: flex;
  flex-direction: column;
}

.actorImageWrapper {
  height: 176px;
  max-height: 176px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actorImage {
  width: 100%;
  height: auto;
  aspect-ratio: 2/3;
}

.imagePerson {
  color: #b9bbbd40;
}

.actorName {
  padding: 10px;
  font-weight: 700;

  @media (max-width: 768px) {
    padding: 8px;
  }
}

.actorCharacter {
  padding: 10px;
  padding-top: 0;
  font-size: 14px;

  @media (max-width: 768px) {
    padding: 8px;
    padding-top: 0;
  }
}

.castLink {
  width: max-content;
  transition-duration: 350ms;

  @media (max-width: 1228px) {
    margin-top: 12px;
  }

  &:hover {
    color: #b9bbbd;
  }
}
