.container {
  width: 100%;
  max-width: 1232px;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 16px;
  font-size: 28px;
  font-weight: 700;

  @media (max-width: 1024px) and (min-width: 769px) {
    font-size: 22px;
  }

  @media (max-width: 768px) {
    margin-top: 12px;
    font-size: 18px;
  }
}

.gallery {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 768px) {
    margin-top: 32px;
    flex-direction: column;
  }
}

.moviesContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  row-gap: 24px;

  @media (max-width: 768px) {
    width: 100%;
    padding-left: 0;
    row-gap: 32px;
  }

  &.skeleton {
    flex-wrap: nowrap;
    overflow: hidden;
  }
}

.notFoundContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.warning {
  margin-top: 48px;

  @media (max-width: 768px) {
    margin-top: 32px;
  }
}

.listTips {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;

  @media (max-width: 768px) {
    gap: 12px;
    margin-top: 12px;
  }
}

.tip {
  display: flex;
  align-items: center;
  gap: 12px;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #669aff;
}
