@keyframes go-back {
  0% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}

.main {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #010b13;
  padding-bottom: 40px;
}

.container {
  width: 100%;
  max-width: 1232px;
  margin: 16px auto 0;
  padding: 0 16px;
  box-sizing: border-box;
  display: flex;
  z-index: 1;
  position: relative;

  @media (max-width: 768px) {
    margin-top: 12px;
  }
}

.infoBarImage {
  position: unset !important;
  max-width: 96px !important;
  height: auto !important;
  aspect-ratio: 2/3;
  border-radius: 4px;
}

.infoBarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}

.infoBarTitle {
  font-size: 28px;
  font-weight: 700;

  @media (max-width: 1024px) and (min-width: 769px) {
    font-size: 22px;
  }

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.infoBarBack {
  margin-top: 8px;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 6px;
  transition-duration: 350ms;

  svg {
    transition-duration: 350ms;
    margin-top: 2px;
  }

  &:hover {
    color: #b9bbbd;

    svg {
      fill: #b9bbbd;
      animation: go-back 1000ms;
    }
  }
}

.containerListNames {
  margin-top: 36px;
  padding: 16px;
  flex-direction: row;
  gap: 64px;
  position: sticky;
  top: 94px;
  background-color: #010b13;
  box-shadow: 0px 0px 12px 0px #010b13;
  z-index: 2;

  @media (max-width: 768px) {
    margin-top: 16px;
    justify-content: space-between;
    gap: 0;
  }
}

.listName {
  padding: 8px 0;
  transition-duration: 350ms;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;

  &:hover,
  &:hover span {
    color: #669aff;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }

  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
  }
}
