.container {
  width: 22%;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    width: 100%;
    align-items: center;
  }
}

.imageWrapper {
  width: 100%;
  max-width: 264px;
  height: auto;
  aspect-ratio: 2/3;
  border-radius: 12px;
  border: 1px solid #b9bbbd40;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @media (max-width: 768px) {
    margin: 0 auto;
    max-width: 176px;
  }
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 2/3;
}

.imagePerson {
  color: #b9bbbd40;
}

.titleMobile {
  display: none;

  @media (max-width: 768px) {
    margin-top: 16px;
    display: flex;
    font-size: 20px;
    font-weight: 700;
  }
}

.socialMedia {
  margin-top: 19px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.socialMediaItem {
  width: 48px;
  height: 48px;
  position: relative;

  a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    svg {
      color: #b9bbbd;
    }

    span {
      opacity: 1;
      z-index: 1;
    }
  }
}

.socialMediaItem svg {
  transition-duration: 350ms;
}

.socialMediaTooltip {
  width: max-content;
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #669aff;
  font-size: 14px;
  font-weight: 500;
  transition-duration: 350ms;
  opacity: 0;
  z-index: -1;

  @media (max-width: 768px) {
    display: none;
  }

  &::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #669aff;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.personalInfo {
  margin-top: 19px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
  font-weight: 700;

  @media (max-width: 1024px) {
    font-size: 18px;
  }
}

.subTitle {
  font-weight: 700;
}

.personalInfoWrapper {
  margin-top: 24px;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    margin-top: 16px;
  }
}

.text {
  margin-top: 4px;
}
