.main {
  width: 100%;
  max-width: 1232px;
  margin: 112px auto 0;
  padding: 0 16px 40px;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  z-index: 1;

  @media (max-width: 768px) {
    margin-top: 108px;
    padding-bottom: 32px;
    flex-direction: column;
  }
}

.container {
  width: 78%;
  display: flex;
  flex-direction: column;
  padding-left: 48px;
  box-sizing: border-box;

  @media (max-width: 768px) {
    width: 100%;
    padding-left: 0;
  }
}

.titleDesktop {
  font-size: 28px;
  font-weight: 700;

  @media (max-width: 1024px) and (min-width: 769px) {
    font-size: 22px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.content {
  margin-top: 48px;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    margin-top: 40px;
  }
}

.title {
  font-size: 20px;
  font-weight: 700;

  @media (max-width: 1024px) {
    font-size: 18px;
  }
}

.text {
  margin-top: 4px;
}

.bestMovies {
  padding: 4px 2px;
  margin-top: 8px;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 16px;

  @media (max-width: 1231px) {
    padding-bottom: 8px;
  }

  @media (max-width: 768px) {
    padding-bottom: 4px;
  }
}

.movie {
  width: 134px;
  min-width: 134px;
  transition-duration: 350ms;

  a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.025);
  }
}

.movieImage {
  width: 100%;
  height: auto;
  aspect-ratio: 2/3;
  overflow: hidden;
  border-radius: 8px;
}

.withoutImagePoster {
  width: 100%;
  height: auto;
  aspect-ratio: 2/3;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b9bbbd40;

  svg {
    color: #b9bbbd40;
  }
}

.movieTitle {
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
}

.warning {
  margin: 4px 0;
  text-align: center;
  font-style: italic;
  opacity: 0.7;
}
