.container {
  display: flex;
  flex-direction: column;
  margin-top: 112px;
  height: calc(100vh - 112px);
  overflow-x: hidden;
  overflow-y: auto;

  .main {
    min-height: 2000px;
    background-color: #010b13;
  }
}