.container {
  display: flex;
  flex-direction: column;
  margin-top: 96px;
  height: calc(100vh - 96px);
  overflow-x: hidden;
  overflow-y: auto;
}

.main {
  flex: 1;
  background-color: #010b13;
  display: flex;
}

.content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.division {
  height: 1px;
  width: calc(100% - 32px);
  max-width: 1232px;
  padding: 0 16px;
  box-sizing: border-box;
  background-color: #b9bbbd40;
  border: none;
  margin: 0 auto;
}
