.container {
  display: flex;
  flex-direction: column;
  margin-top: 96px;
  height: calc(100vh - 96px);
  overflow-x: hidden;
  overflow-y: auto;
}

.main {
  flex: 1;
  background-color: #010b13;
  display: flex;
}

.content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
