.carousel {
  width: 100%;
  max-width: 1232px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 0 16px;
  padding-bottom: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (max-width: 768px) {
    margin-top: 40px;
    padding-bottom: 32px;
  }
}

.embla {
  margin-top: 40px;
  overflow: hidden;
  position: relative;

  @media (max-width: 768px) {
    margin-top: 32px;
  }
}

.emblaMoviePage {
  margin-top: 24px;

  @media (max-width: 768px) {
    margin-top: 16px;
  }
}

.emblaContainer {
  display: flex;
}
