.container {
  width: 100%;
  max-width: 1232px;
  margin: 16px auto 0;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 1;

  @media (max-width: 768px) {
    margin-top: 0;
    padding-bottom: 0;
  }
}
