.container {
  margin-top: 24px;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    margin-top: 20px;
  }
}

.title {
  font-weight: 700;
}

.content {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  @media (max-width: 768px) {
    gap: 10px;
  }
}

.image {
  width: 48px;
  height: 48px;
  border-radius: 4px;

  @media (max-width: 768px) {
    width: 40px;
    height: 40px;
  }
}
