.carousel {
  width: 100%;
  max-width: 1232px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 0 16px;
  padding-bottom: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (max-width: 768px) {
    margin-top: 40px;
    padding-bottom: 32px;
  }
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.titleMoviePage {
  font-size: 20px;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.embla {
  margin-top: 40px;
  overflow: hidden;
  position: relative;

  @media (max-width: 768px) {
    margin-top: 32px;
  }
}

.emblaMoviePage {
  margin-top: 24px;

  @media (max-width: 768px) {
    margin-top: 16px;
  }
}

.emblaContainer {
  display: flex;
}

.emblaSlide {
  min-width: 0;
  flex: 0 0 25%;
  padding: 0 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1024px) {
    flex: 0 0 33.33%;
  }

  @media (max-width: 768px) {
    flex: 0 0 50%;
  }
}

.imageWrapper {
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  width: 100%;
  aspect-ratio: 2/3;
  position: relative;
}

.image {
  width: 100%;
  height: auto !important;
  transition-duration: 350ms;
  position: unset !important;
  margin: auto;
  border-radius: 12px;
}

.gradeWrapper {
  margin-top: 16px;
  width: 100%;
  height: 19px;

  @media (max-width: 768px) {
    margin-top: 12px;
    height: 17px;
  }
}

.grade {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  & > svg {
    fill: #f4b41e;
  }
}

.upcoming {
  margin-top: 16px;
  width: 100%;
  height: 32px;
  background-color: #081e3090;
  border-radius: 8px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    margin-top: 12px;
    height: 30px;
  }
}

.titleMovie {
  margin: 16px 0;
  font-weight: 500;
  color: #ffffff;
  text-align: center;

  @media (max-width: 768px) {
    margin: 12px 0;
    margin-bottom: 0;
  }
}

.seeMore {
  margin-top: auto;
  height: 32px;
  background-color: #669aff;
  padding: 0 16px;
  border-radius: 8px;
  color: #ffffff;
  transition-duration: 350ms;
  opacity: 0;

  &:hover {
    background-color: #4283ff;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.emblaSlide:hover {
  cursor: pointer;

  .image {
    transform: scale(1.075);
  }

  .seeMore {
    opacity: 1;
  }
}

.emblaArrow {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 35%;
  left: -8px;
  z-index: 2;

  &:hover > .emblaArrowInternal {
    background-color: #4283ff;
  }

  @media (max-width: 1024px) {
    top: 37%;
  }

  @media (max-width: 768px) {
    top: 38%;
  }

  @media (max-width: 500px) {
    top: 32%;
  }
}

.emblaArrowInternal {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #669aff;
  transition-duration: 350ms;

  & svg {
    fill: #ffffff;
    margin-right: 2px;
  }
}

.emblaNext {
  left: unset;
  right: -8px;

  & svg {
    margin-right: 0px;
    margin-left: 2px;
  }
}

.hideArrowsMobile,
.hideArrowsDesktop {
  display: none;
}
