.content {
  margin-top: 48px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (max-width: 768px) {
    margin-top: 40px;
  }
}

.title {
  font-size: 20px;
  font-weight: 700;

  @media (max-width: 1024px) {
    font-size: 18px;
  }
}

.credits,
.moviesWrapper,
.movieLink {
  display: flex;
  flex-direction: column;
}

.credits {
  margin-bottom: 32px;

  @media (max-width: 768px) {
    margin-bottom: 24px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.creditsList {
  margin-top: 12px;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 4px;
  border: 1px solid #b9bbbd40;
  border-bottom: none;

  @media (max-width: 768px) {
    margin-top: 8px;
  }

  &.asc {
    flex-direction: column;
  }
}

.creditItem {
  display: flex;
  padding: 4px 12px;
  border-bottom: 1px solid #b9bbbd40;

  @media (max-width: 768px) {
    padding: 10px;
  }
}

.year {
  margin-top: 8px;
  min-width: 60px;
  font-size: 14px;
}

.moviesWrapper {
  margin-left: 24px;
  gap: 8px;

  @media (max-width: 768px) {
    margin-left: 20px;
  }
}

.movieLink {
  width: fit-content;
  min-height: 48px;
  justify-content: center;

  &:hover .movieName {
    color: #669aff;
  }
}

.movieName {
  font-size: 14px;
  font-weight: 700;
  transition-duration: 350ms;
}

.movieText {
  font-size: 14px;
  color: #b9bbbd;
}

.filterContainer {
  display: flex;
  align-items: center;
  gap: 32px;
  position: absolute;
  right: 0;

  @media (max-width: 768px) {
    margin-left: auto;
    position: unset;
    margin-bottom: 16px;
    gap: 20px;
  }

  @media (max-width: 380px) {
    gap: 18px;
  }
}

.filterContent {
  position: relative;

  &:hover {
    .filterTitle {
      color: #669aff;
    }

    .filterWrapper {
      opacity: 1;
      z-index: 1;
    }

    .filterArrow {
      transform: rotate(180deg);
    }
  }
}

.filterTitle {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 0;
  font-size: 14px;
  transition-duration: 350ms;

  span {
    font-size: 14px;
  }

  @media (min-width: 769px) {
    &:hover {
      color: #669aff;
      cursor: pointer;
    }
  }
}

.filterArrow {
  transition-duration: 350ms;
}

.filterWrapper {
  margin-top: 2px;
  position: absolute;
  top: 25px;
  right: 0;
  opacity: 0;
  z-index: -1;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #010b13;
  box-shadow: 0px 0px 12px 2px #010b13;
  border: 1px solid #b9bbbd40;
  cursor: pointer;
  transition-duration: 350ms;
}

.filterItem {
  min-width: max-content;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  padding: 4px;
  user-select: none;
  transition-duration: 350ms;

  &.active {
    color: #669aff;
  }

  @media (min-width: 769px) {
    &:hover {
      color: #669aff;
    }
  }
}
